<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %>">
  Todo Item: <%= todo_item.name %>


  <%= render :partial => 'comments/form', :locals => { :item => todo_item } %>

  <div class="info">
    <%= distance_of_time_in_words(Time.now, todo_item.created_at) %> ago
  </div>
  <br><br>
</div> 
