<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %>">
  <div class="info">
    <h3>Todo Item: <%= todo_item.name %></h3>
    <p>Posted: <%= distance_of_time_in_words(Time.now, todo_item.created_at) %> ago</p>
  </div>
  <div class="button">CLICK HERE for Comments Dropdown</div>
  <%= render :partial => 'comments/form', :locals => { :item => todo_item } %>

  
 
  
</div> 
