<h1>Index page for TodoItems</h1>
<% @todo_items.each do |todo_item| %>
  <div class="todo_item">
  todo_item.name: <%= todo_item.name %> <br>
  todo_item.completed: <%= todo_item.completed %> <br>
  todo_item.comments: <%= todo_item.comments %><br>
  <% if todo_item.comments.first%>
    <%= todo_item.comments.first.body %>
  <% end %>


  <br><br>
  </div>
<% end %>