div {
  float: left;
}

.todo-item {
  border: 4px solid blue;
  height: auto;
  width: 400px;
  position: relative;
  /*display: inline;*/
  /*float: left;*/
  /*clear:both;*/
}

.new-comment {
  display: none;
}

.info {
}

.button {
  border: 1px solid red;
  clear: both;
}
