<!DOCTYPE html>
<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsykPdvWSTP8uKVQCv27poiNwimwVQ7ds&sensor=FALSE">
  </script>
</head>
<body>
  <div class="container">
    <div id="map-canvas" style="width: 600px; height: 450px; border: 1px solid blue"></div>
    <%= yield %>
  </div>

</body>
</html>
